@import "bourbon/bourbon";
@import "neat/neat";


// Colors
$primary: #61c12d;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #F2F2F2;
$white: #fff;
$black: #000;

// Font Sizes
$base-font-size: 14px;
$heading-font-size: 30px;

.bold {
  font-weight: bold;
}

h1 {
  font-size: $heading-font-size;
  font-weight: 400;
  font-size: 34px;
}

// a

a {
  color: $dark-gray;
  text-decoration: none;

  &:hover {
    transition: all .2s;
    color: $black;
  }
}

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// margin
.m-y-lg {
  @include margin(3em null);
}

.m-b-lg {
  margin-bottom: 3em;
}

.m-t-lg {
  margin-top: 3em;
}

.m-t-2 {
  margin-top: 2em;
}

.m-b-xs {
  margin-bottom: 2rem;
}

.m-x-lg {
  @include margin(null 2rem);
}

.p-x-lg {
  @include margin(null 2rem);
}

// Alignment
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// Setting
html,
body,
.wrap {
   position: relative;
   height: 100%;
   margin: 0px;
}

.wrap {
   position: relative;
   z-index: 1;
   background: $white;
   font-family: $font-stack-helvetica;
   font-size: $base-font-size;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing: grayscale;

   .content {
      color: $dark-gray;
      line-height: $base-line-height;
      letter-spacing: 1px;
   }

   span {
      font-style: italic;
      font-weight: 100;
      text-transform: uppercase;
   }
  }

button {
  background: $primary;
  width: 100%;
  padding: .8rem;
  color: #fff;
  cursor: pointer;
  border: none;
}

// Hero
.home-hero {
   position: relative;
   height: 350px;
}

.swiper-container {
   width: 100%;
   height: 100%;
}

$hero-image: "../img/Banner.png";
$gradient-angle: 10deg;
$device-background-top: #162C4C;
$device-background-bottom: #0A120D;


.home-hero {
  .swiper-slide {
    background: url($hero-image) no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.swiper-slide {
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: flex-start;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-pagination-bullet-active {
   background: $primary;
}

.hero-text {
   position: relative;
   color: #fff;
   text-align: left;
   margin-left: 30px;

   h1 {
      margin-bottom: 7px;
   }

   p {
      margin-top: 0;
   }
}

// feature-list
$feature-guide-3: (
  columns: 3,
  gutter: 1.5rem,
);

.feature-list {
  @include grid-container;
  margin-top: 55px;
}

.feature-guide-single {
  @include grid-column(1, $feature-guide-3);
  text-align: center;
  // background: #61c12d;

   svg {
      fill: $primary;
   }

   .feature-title {
      padding-top: 15px;
   }
}

// grids

$grids-1: (
  columns: 1,
  gutter: 0,
);

.grids-container {
  @include grid-container;
  margin-top: 55px;
}

.grids-1 {
  @include grid-column(1, $grids-1);
}

.flex-inner,
.grid-inner {
  padding: 2rem;

  img {
    margin-bottom: 1rem;
  }
}

// flex
.flex-container {
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-container > * {
  flex: 1 100%;
}

.flex-item {
  flex: 1 50%;
  position: relative;
}

.service-grid {

  &>*:nth-child(3n+1) {
    background: $light-gray;
  }

  label {
    display: block;
    font-size: 16px;
  }
}

.bg-cover {
    // background-image: url($hero-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

//
.popular-class {

  hr {
    width: 2rem;
    margin-left: 0;
    height: 2px;
    background: $primary;
    border: none;
    margin-top: 15px;
  }

  .flex-item {
    color: $white;
    height: 280px;
  }

  label {
    font-size: 20px;
  }

  p {
    position: absolute;
    bottom: 0;
  }
}

// popular-country

.popular-country {
  background: $light-gray;

  .flex-item {
    height: 275px;
  }

  label {
    font-size: 20px;
  }

  li {
    list-style: none;
    margin-bottom: .5rem;
  }

}

// global-office
.global-office {

  .flex-inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  img {
    width: 100%;
  }

  label {
    font-size: 40px;
    color: $primary;
  }

  p {
    font-size: 20px;
  }
}

// student-share
.student-share {
  background: $light-gray;

  h1 {
    display: block;
    font-size: 20px;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  p {
    padding-bottom: 3rem;
  }

  img {
    width: 100%;
    margin-top: 2rem;
  }

  .swiper-slide {
    display: block;
  }
}

.contact-us {
  margin-top: 3rem;
  color: $white;

  .flex-item {
    flex: 1 100%;
  }

  .box {
    height: 280px;
    margin-bottom: 2rem;
  }
}

.footer {
  background: $primary;
  color: $white;
  padding-top: 2rem;

  .flex-item {
    flex: 1 100%;
  }

  .flex-inner {
    padding: 0 2rem;
    padding-bottom: 1rem;
    display: inline-block;
  }

  img {
    width: 25px;
    display: inline-block;
    margin-top: 0px;

  }

  label {
    position: absolute;
    margin: 5px 0 0 20px;
  }

  p {
    position: relative;
    margin-left: 45px;
    margin-top: -20px;
  }
}

.footer-info {
  background: $dark-gray;
  padding: 2.5rem 2rem;

  .flex-container {
    padding: 0 4rem;
    margin-top: 1.5rem;
  }
  .flex-item {
    flex: 1 33%;
  }

  hr {
    height: 1px;
    border: none;
    background: rgba($color: $white, $alpha: 0.3);
    margin: 2rem;
  }

  p {
    color: $white;
  }

}


// Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
}

// darken, brighten
.darken {
  transition: all .5s;
  background-color: rgba($color: $black, $alpha: 0.7);

  &:hover {
    background-color: rgba($color: $black, $alpha: 0.8);
  }

}

.brighten {
  transition: all .5s;
  background-color: rgba($color: $white, $alpha: 0.6);

  &:hover {
    background-color: rgba($color: $white, $alpha: 0.8);
  }
}


// // Neat Breakpoints
// $large-screen: em(860);
// $large-screen-up: new-breakpoint(min-width $large-screen 8);   //自訂的 function?

// // Typography
// $base-font-family: sans-serif;

// // Font Sizes
// $base-font-size: 1em;

// // Line height
// $base-line-height: 1.5;
// $heading-line-height: 1.2;

// // Other Sizes
// $base-border-radius: 3px;
// $base-spacing: $base-line-height * 1em;
// $small-spacing: $base-spacing / 2;
// $base-z-index: 0;



// // Font Colors
// $base-background-color: $white;
// $base-font-color: $dark-gray;
// $action-color: $blue;

// // Border
// $base-border-color: $light-gray;
// $base-border: 1px solid $base-border-color;

// // Forms
// $form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// input,
// label,
// select {
//    display: block;
//    font-family: $base-font-family;
//    font-size: $base-font-size;
// };

// label {
//    font-weight: 600;
//    margin-bottom: $small-spacing / 2;

//    &.required::after {
//       content: "*";
//    }

//    abbr {
//       display: none;
//    }
// };

// // Grid
// $article-layout-grid: (
//   columns: 1,
//   gutter: 2rem
// );

// $article-layout-grid--tablet-up: (
//   columns: 5,
//   gutter: 2rem,
//   media: "(min-width: 768px)"
// );




// .article-layout {
//   @include grid-container;
// }

// .article-layout__hero {
//   @include grid-column(1, $article-layout-grid);
//   margin-bottom: 2rem;
// }

// .article-layout__sidebar {
//   @include grid-column(1, $article-layout-grid);
//   margin-bottom: 2rem;

//   @include grid-media($article-layout-grid--tablet-up) {
//     @include grid-column(2);
//   }
// }

// .article-layout__main {
//   @include grid-column(1, $article-layout-grid);

//   @include grid-media($article-layout-grid--tablet-up) {
//     @include grid-column(3);
//   }
// }
