head
   meta(charset="UTF-8")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(http-equiv="X-UA-Compatible", content="ie=edge")
   title ED:M Official Website
   meta(name="description" content="永遠把學生需求擺在第一位的 ED:M")
   link(href="./css/swiper.min.css", rel="stylesheet")
   link(href="./normalize.css", rel="stylesheet")
   link(href="sass/style.css", rel="stylesheet")

   script.
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="https://v2.zopim.com/?5zmiNh9U76cobw1jbgLfQckMULwbngHS";z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

   // Global site tag (gtag.js) - Google Analytics
   include ga.js
